server:
  port: 8080

spring:
  application:
    name: riskscore_mvp

  datasource:
    url: jdbc:${JDBC_DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect





